@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;

}

.animated-section {
    opacity: 0.5;
    transform: translateY(-20px) scale(0.8);
    transition: all 0.3s ease-in-out;
}

.animated-section-enter {
    opacity: 1;
    transform: translateY(0px) scale(1);
}