.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@keyframes slide-in-bottom {
    0% {
        /* transform: translateY(56px);
        opacity: 0; */
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-out-bottom {
    animation: slide-out-bottom 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes slide-out-bottom {
    0% {
        /* transform: translateY(0); */
        /* opacity: 1; */
    }

    80% {
        transform: translateY(56px);
        opacity: 0;
    }

    100% {
        transform: translateY(56px);
        opacity: 0;

    }
}

.fade-in {
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}